# General
.DS_Store
*.swp
*.swo
*.swn
.idea/

# Python for backend
/backend/__pycache__/
/backend/*.pyc
/backend/*.pyo
/backend/*.egg-info/
/backend/*.venv
/backend/*.virtualenv
/backend/.env
/backend/.env.local
/backend/.env.development.local
/backend/.env.test.local
/backend/.env.production.local
/backend/*.log
/backend/Pipfile.lock
/backend/db.sqlite3
/backend/Dockerfile.*

# Node/React for frontend
/frontend/node_modules/
/frontend/yarn.lock
/frontend/package-lock.json
/frontend/.env
/frontend/.env.local
/frontend/.env.development.local
/frontend/.env.test.local
/frontend/.env.production.local
/frontend/npm-debug.log
/frontend/yarn-error.log
/frontend/Dockerfile.*

# Docker
Dockerfile.*
*.dockerignore
docker-compose.*.yml